h1 {
    text-align: center;
    color: aliceblue;
}

body {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* -------------------------------
------------------------------- */

#mainblock {
    display: flex;
    gap: 10%;
    min-width: 100vw;
    justify-content: space-around;
}


.main-cont{
      display: flex;
    justify-content: center;
    align-items: center;
}


.main-cont,
#resultBlock {
    width: 20%;
    /* background-color: aliceblue; */
    padding: 20px;
           background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);

}

fieldset {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    border: 2px solid;
}


.res {
    display: none;
}


#resultBlock {
    width: 400px;
    height: 400px;

    margin-top: 50px;

    display: none;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
}
